body{
    margin: 0;
    padding: 0;
    background-color: rgba(16, 165, 165, 0.87);
    color: white;
    font-size: 1.3em;
}

.container{
   text-align: center;
   margin-top: 15%;
}

form input{
    padding: 10px;
    width: 30em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(16, 165, 165, 0.87);
    border: 1px solid  rgba(16, 165, 165, 0.87);
    color: white;
}

::placeholder{
    color: white;
    font-size: 1.3em;
}

button{
    padding: 10px;
    width: 10em;
    color: white;
    font-size: 1em;
    background-color: rgb(15, 109, 81);
    border: 1px solid  rgba(16, 165, 165, 0.87);
}
